.hero {
    // border: 2px solid red;
    text-align: center;
    padding-bottom: 5rem;

    .copy {
        // border: 1px solid orange;
        margin-bottom: 2.5rem;
    }

    &__image {
        // border: 1px solid red;
        height: 300px;
        margin: 0 -1.5rem;
        background: url('../../static/images/image-mockups.png') center bottom no-repeat, url('../../static/images/bg-intro-mobile.svg') center no-repeat;
        background-size: 345px, cover;
        margin-bottom: 1rem;
    }
    @media screen and (min-width: 768px) {
            text-align: left;
            &__content {
                border: 1px solid red;
                display: grid;
                align-items: center;
                grid-template-areas: "description image";
                grid-template-columns: 1fr 1fr;
                min-height: 650px;
            }
            &__description {
                border: 1px solid green;
            }
            &__image {
                grid-area: image;
                min-height: inherit;
            }
    }
}